/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple__main-link {
  margin-right: auto;
  color: rgba(0, 135, 233, 1);
}

.BasketSimple__label{

}

.BasketSimple__total{
    font-weight: bold;
    margin: 0 15px;
}