/* Пункт списка */
.Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 21px;
    transition: background-color 1s;
}

.Item_selected {
    background: #75aaf1;
}

.Item_title {
    width: 100%;
    padding: 20px 10px;
}

.Item_price {
    color: #404040;
    min-width: 20%;
    padding: 20px 10px;
    display: flex;
    justify-content: right;
}

.Item_actions {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item_number {
    padding: 20px 10px 20px 20px;
}

