/* Контрол с общими действиями */
.Controls {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.Controls_btn {
    margin-left: 20px;
}

button {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    min-width: 80px;
    background: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    padding: 2px 6px;
}

.Controls_cart-info {
    margin: 0;
}

.Controls_cart-info span {
	margin-right: 15px;
}
