.Cart_item {
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    border-bottom: 1px dashed #ccc;
}

.Cart_item:first-child {
    border-top: 1px dashed #ccc;
}

.Cart_left-wrapper,
.Cart_right-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.Cart_left-wrapper {
    justify-self: left;
}

.Cart_right-wrapper {
    justify-self: right;
}

.Cart_item-index {
    margin-right: 20px;
}

.Cart_item-price {
    margin-right: 55px;
}

.Cart_item-price,
.Cart_item-count {
    color: #404040;
}



